body{
	background: rgb(229, 243, 255);
	color: rgb(35, 35, 35);
	font-family: Heletica, monospace;
	font-size: 20px;
	line-height: 1.7;
	font-weight: lighter;
	text-orientation: center;

}

h1{
	color: rgb(188,54,25);
	font-family: Courier, monospace;
	font-size: 25px;
	line-height: 2;
	font-weight: bolder;
	text-orientation: center;
	text-align: center;

}

h2{
	color: rgb(0, 50, 96);
	font-family: Arial, monospace;
	font-size: 20px;
	line-height: 1.7;
	font-weight: lighter;
	text-align: center;
	text-orientation: center;
}

h3{
	color: rgb(0, 50, 96);
	font-family: Arial, monospace;
	font-size: 15px;
	line-height: 1.7;
	font-weight: lighter;
	text-align: center;
}

h4{
	color: rgb(0, 50, 96);
	font-family: Arial, monospace;
	font-size: 10px;
	line-height: 1.7;
	font-weight: lighter;
	text-align: center;
}

a{
	text-decoration: none;
	color: rgb(188,54,25);
	background-color: rgb(231, 244, 255);
	padding: 5px;
	font-size: 15px;
}

a:hover{
	color: rgb(0, 50, 96);
	font-size: 20px;
}


.div0{
	width: 700px;
	margin: 40px auto;
	padding: 15px;
    box-shadow: 2px 3px 7px rgba(150, 150, 150, 0.6);
    border-radius: 1%;
    background-color: rgba(185, 222, 255, 0.08);
}

.div1{
	width: 900px;
	margin: 40px auto;
	font-size: 15px;
	padding: 10px;
    box-shadow: 2px 3px 7px rgba(150, 150, 150, 0.6);
    border-radius: 5px;
    background-color: rgba(185, 222, 255, 0.08);
}

.list {
	list-style: none;
	padding-left: 0px;
}


.div2{
	width: 900px;
	margin: 40px auto;
	margin-bottom: 5px;
	padding: 10px;
    box-shadow: 2px 3px 7px rgba(150, 150, 150, 0.6);
    border-radius: 5px;
    background-color: rgba(185, 222, 255, 0.08);
}

.div3{
	width: 700px;
	margin: 20px auto;
	margin-bottom: 25px;
	padding: 10px;
	font-size: 16px;
	text-align: center;
    box-shadow: 2px 3px 15px rgba(150, 150, 150, 0.6);
    border-radius: 5px;
    background-color: rgba(185, 222, 255, 0.08);
    text-orientation: center;
}

.titre{
	text-align: center;
	font-size: 20px;
}

#Agathe{
	width: 350px;
	text-align: right;
	border: 2px red solid;
	border-radius: 7px;
}

.logo{
	width: 70px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
}

.plane{
	color: red;
	width: 100px;
}



@media (max-width: 860px) {

  div{
    width: 600px;
  }
}
@media (max-width: 620px) {

  div{
    width: 400px;
  }
}
@media (max-width: 440px) {

  div{
    width: 200px;
  }
}